#outer li{
		display:inline;
}
#menu li{
		display:inline;
}
#menu ul{
		margin:0 auto 0 auto;
		display:inline-block;
}
#menu ul li{
		float:left;
}
#menu ul li a{
		width:50px;
		height:20px;
		line-height:28px;
		border:1px solid #ffffff;
		font-size:12px;
		background:#666666;
		color:#ffffff;
		margin:5px 10px;
		display:block;
		text-align:center;
		text-decoration:none;
}
body{
		background-color:#AAAAAA;
}
#menu{
		text-align:center;
		
}
