{% extends "base.html" %}

{% block content %}
<div class="home">
<p><strong>Hi, I'm Linwei Zhang</strong> (usually known as <strong>lewiszlw</strong> online):</p>
<ul>
  <li>Looking for a new data infra job at Wuhan(onsite) or remote</li>
  <li>🎓 CS graduate from <a href="https://en.wikipedia.org/wiki/Wuhan_University_of_Technology">WHUT</a></li>
  <li>👨‍💻 Formerly at <a href="https://about.meituan.com/home">Meituan</a> / <a href="https://www.amazon.com/">Amazon</a> / <a href="https://www.mi.com/">Xiaomi</a></li>
  <li>💻 Database engineer | Apache DataFusion committer | Open-source enthusiast</li>
  <li>📦 My open-source projects are mainly at <a href="https://github.com/systemxlabs">@systemxlabs</a> and <a href="https://github.com/NightsWatchGames">@NightsWatchGames</a></li>
  <li>📄 Resume: <a href="https://github.com/lewiszlw/lewiszlw/blob/main/Resume_CN.md">中文</a></li>
  <li>📱 Reach me: 📫 <a href="mailto:lewiszlw520@gmail.com">lewiszlw520@gmail.com</a> | 💬 Wechat: wx597422850</li>
  <li><a href="https://twitter.com/lewiszlw">Twitter</a> | <a href="https://www.zhihu.com/people/tian-qian-zhu-wu-ya">知乎</a> | <a href="https://space.bilibili.com/43876861">Bilibili</a> | <a href="https://www.youtube.com/channel/UCnvri1tqAjxsp9nGQ63zUNw">Youtube</a></li>
</ul>

<h4>🎖️ Open source contributions</h4>
<ul>
  <li><a href="https://github.com/apache/datafusion/commits?author=lewiszlw"><img alt="Commits to Apache DataFusion" src="https://img.shields.io/github/commit-activity/t/apache/datafusion?authorFilter=lewiszlw&amp;style=social&amp;label=Apache%20DataFusion" /></a> <a href="https://github.com/apache/arrow-rs/commits?author=lewiszlw"><img alt="Commits to Arrow Rust" src="https://img.shields.io/github/commit-activity/t/apache/arrow-rs?authorFilter=lewiszlw&amp;style=social&amp;label=Arrow%20Rust" /></a> <a href="https://github.com/apache/iceberg-rust/commits?author=lewiszlw"><img alt="Commits to Iceberg Rust" src="https://img.shields.io/github/commit-activity/t/apache/iceberg-rust?authorFilter=lewiszlw&amp;style=social&amp;label=Iceberg%20Rust" /></a></li>
  <li><a href="https://github.com/geoarrow/geoarrow-rs/commits?author=lewiszlw"><img alt="Commits to GeoArrow Rust" src="https://img.shields.io/github/commit-activity/t/geoarrow/geoarrow-rs?authorFilter=lewiszlw&amp;style=social&amp;label=GeoArrow%20Rust" /></a> <a href="https://github.com/georust/geozero/commits?author=lewiszlw"><img alt="Commits to Geozero" src="https://img.shields.io/github/commit-activity/t/georust/geozero?authorFilter=lewiszlw&amp;style=social&amp;label=Geozero" /></a></li>
  <li><a href="https://github.com/bevyengine/bevy/commits?author=lewiszlw"><img alt="Commits to Bevy Engine" src="https://img.shields.io/github/commit-activity/t/bevyengine/bevy?authorFilter=lewiszlw&amp;style=social&amp;label=Bevy%20Engine" /></a></li>
  <li><a href="https://github.com/rcore-os/rCore-Tutorial-Book-v3/commits?author=lewiszlw"><img alt="Commits to rCore-Tutorial-Book-v3" src="https://img.shields.io/github/commit-activity/t/rcore-os/rCore-Tutorial-Book-v3?authorFilter=lewiszlw&amp;style=social&amp;label=rCore%20Tutorial%20Book" /></a></li>
</ul>

  <h4>Projects</h4>
  <ul>
    <li><a href="https://github.com/systemxlabs/datafusion-remote-table">datafusion-remote-table</a>: 远程数据库执行 SQL 查询并将结果作为 DataFusion 一张表</li>
    <li><a href="https://github.com/systemxlabs/indexlake">indexlake</a>: 支持可扩展索引的数据湖</li>
    <li><a href="https://github.com/systemxlabs/datafusion-dist">datafusion-dist</a>: 基于 Apache DataFusion 的分布式流式计算库</li>
  </ul>
  <p><a href="https://github.com/systemxlabs">See more at systemxlabs github org &rarr;</a></p>

  <h4>Latest posts</h4>

  {% set section = get_section(path="blog/_index.md") %}
  <ul>
  {% for page in section.pages %}
    {% if loop.index > 5 %}{% break %}{% endif %}
    <li><a href="{{ page.path | safe }}">{{ page.title }}</a></li>
  {% endfor %}
  </ul>


  <p><a href="/blog">See all posts &rarr;</a></p>

</div>

{% endblock content %}